.center {
    margin: 75px;
    margin-left: 265px;
    margin-bottom: 120px;
    text-align: center;
    width: 911px;
    max-height: 42px;
    background-color: #686868;
    border: 3px solid #94F9FF;
    border-radius: 10px;
    color: #ffffff;
}
.contenu{
    color: #ffffff;
    margin: 50px;
    margin-left: 8%;
    width: 1198px;
    height: 270px;
    display: flex;
    background-color: #333333;
    border: 3px solid #94F9FF;
}
#nomcategorie{
    margin: 0px;
}
.imagemangacategorie{
    width: 150px;
    height: 200px;
    border: 2px solid #94F9FF;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.titremangacategorie{
    font-size: 20px;
    font-weight: bold;
    margin: 0px
}
.boxcategorie{
    text-align: center;
}
.synopsismangacategorie{
    line-height: 30px;
    font-size: 16px;
}
.atitre{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    color: #ffffff;
}
.atitre:visited{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    color: #ffffff;
}