body{
    overflow-x: hidden; 
    margin: 0px;
    border: 5px solid #94F9FF;
    background-color: #212121;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;    
}
header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
    width: 100%;
    height: 168px;
    border-bottom: 2px solid #94F9FF;
}
figure{
    margin: 0px;
}

main{
    
    height: 100%;
} 
footer{
    /* position: fixed; */
    background-color:#686868;
    width: 100%;
    /* bottom: 0%; */
    border-top: 2px solid #94F9FF;
}
#logo1a {
    position: absolute;
    width: 85px;
    height: 79px;
    left: 1%;
    top: 4%;
}
#logo1b{
    position: absolute;
    width: 300px;
    height: 70px;
    left: 115px;
    top: 34px;
}
#logofig{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo2a {
    width: 85px;
    height: 79px;
}
#logo2b{
    width: 346px;
    height: 73px;
}
#bouttonaccueil1{
    /* position: absolute;
    top: 123px;
    left: 456px; */
    background: #4FACFE;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    height: 30px;
    min-width: 185px;
    border-radius: 15px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
#bouttonaccueil1:hover{
    background: #0071D5;
    border-color: #FFFFFF;
}
#buttoncategoriebutton1{
    /* position: absolute;
    top: 123px;
    left: 658px; */
    background: #4FACFE;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    height: 30px;
    min-width: 185px;
    border-radius: 15px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
#buttoncategoriebutton1:hover{
    background: #0071D5;
    border-color: #FFFFFF;
}
#buttonnouscontacterbutton1{
    background: #4FACFE;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    height: 30px;
    min-width: 185px;
    border-radius: 15px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
#buttonnouscontacterbutton1:hover{
    background: #0071D5;
    border-color: #FFFFFF;
}
#display{
    display: flex;
    height: 80px;
    width: 76px;
}

#headerflexbox1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}   
#headerflexbox2{
    display: flex;
    justify-content: space-evenly;
}
#buttonfaq{
    width: 223px;
    height: 45px;
    border-radius: 15px;
    color: #FFFFFF;
    background: #4FACFE;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#buttonfaq:hover{
    background: #0071D5;
    border-color: #FFFFFF;
}
#buttonmentionlegale{
    width: 223px;
    height: 45px;
    border-radius: 15px;
    color: #FFFFFF;
    background: #4FACFE;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
}
#buttonmentionlegale:hover{
    background: #0071D5;
    border-color: #FFFFFF;
}
#footerflexbox{
    display: flex;
    flex-direction: column;
}
#insta{
    width: 45px;
    height: 45px;
    margin-right: 200px;
    margin-left: 50px;
}
#facebook{
    width: 45px;
    height: 45px;
    margin-left: 50px;
}
#logoresaux{
    display: flex;
    justify-content: space-between;
}
#iconeresaux{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
#barrerecherche{
    text-align: center;
}
#search{
    width: 500px;
    height: 25px;
    margin-bottom: 25px;
}
.menu{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 15%;
    right: 7%;
    background-color: #4FACFE;
    width: 223px;
    height: 399px;
    
}
#profilpicture{
    border-radius: 100%;
    margin-right: 15px;
    width: 75px;
    height: 75px;
}
.taillephoto{
    width: 35px;
    height: 35px;
}
profiltable{
    margin-left: 5px;
}
.notexthref{
    text-decoration: none;
}
.notexthref:visited{
    color: #212121;
}
.popup {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #212121;
    color: #FFFFFF;
    padding: 20px;  
    border: 2px solid #94F9FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9998;
    display: none;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#fondcategorietable{
    margin: 0px;
    background-color: #333333;
    padding: 20px;
}
.categorietable{
    width: 160px;
    max-height: 20px;
    text-align: center;
    font-size: 14px;
    background-color: #4FACFE;
    border: 3px solid #333333;
}
.categorietable a{
    width: 150px;
    height: 20px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4FACFE;
    color: #FFFFFF;
}
.categorietable:hover{
    background-color: #0071D5;
    border: 2px solid #FFFFFF;
}
.categorietable a:hover{
    background-color: #0071D5;
}
.buttoncontact {
    position: fixed;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    color: white;
    padding: 20px;
    border: 2px solid #94F9FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}
.buttoncontact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9998;
    display: none;
}
.buttoncontact-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.contactme{
    background: #4FACFE;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    height: 30px;
    min-width: 100px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.contactme:hover{
    background: #0071D5;
    border-color: #FFFFFF;
}
.contactmecentre{
    text-align: center;
}
#popup{
    margin-left: 425px;
    margin-top: 150px;
}
#buttoncontact{
    margin-left: 775px;
    margin-top: 160px;
}